<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GitHub App Data</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/script.js"></script>
</head>
<body>
<div align="center"><h1>CH Dependency Tracker</h1></div>
<div class="search-container">
    <label for="searchInput">Enter search term here:</label>
    <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Enter Search Term">
</div>
<table id="dataTable">
    <thead>
    <tr>
        <th>Repository Name</th>
        <th>Spring Boot Version</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appData : ${appDataList}">
        <td th:text="${appData.name}"></td>
        <td th:text="${appData.springBootVersion}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>